In [2]:
for i  in range (6):
    print(i,end=" ")

0 1 2 3 4 5

In [3]:
for i  in range(0,6,1):
    print(i,end=" ")

0 1 2 3 4 5

In [5]:
for i in range(6):
     print(i,end=" ")

0 1 2 3 4 5

In [6]:
n=5
for i in range(1,n+1):
    print (i,end=" ")

1 2 3 4 5

In [8]:
n=5
for i in range(n+1,-2,-1):
      print ( i ,end=" ")

6 5 4 3 2 1 0 -1

In [9]:
n=5
for i in range(n+1):
    print(i,end=" ")

0 1 2 3 4 5

In [10]:
# wap to print  first n natural number
n=int(input("enter any number:"))
for i in range(1,n+1):
    print(i,end=" ")

enter any number: 10

1 2 3 4 5 6 7 8 9 10

In [11]:
# wap to print first 10 even no 
n=int(input("enter any number"))
for i in range (2,2*n+1,2):
    print (i,end=" ")

enter any number 10

2 4 6 8 10 12 14 16 18 20

In [12]:
n=int(input("enter any number"))
for i in range(1,2*n+1):
    if i%2==0:
        print(i,end=" ")

enter any number 10

2 4 6 8 10 12 14 16 18 20

In [14]:
# wap to 
n=int(input("enter any number"))
sum=0
for i in range(1,n+1):
    sum =sum+i
print(sum)

enter any number 10

55

In [ ]:
# wap to  print the sum of first 10 even and odd number 
# wap to find the count of even number and odd number bt 100 to 2000 and both are inclusive