In [1]:
# set-unordred ,unindex ,mutble
# stores unique  element
s=set()
print(type(s))

<class 'set'>

In [2]:
s={10,20,30,"hello",10.5}
print(s)

{10.5, 20, 'hello', 10, 30}

In [3]:
# iteration
s={10,20,30,"hello",10.5}
for i in s:
    print(i)

10.5
20
hello
10
30

In [4]:
# method-add. -add elemet to an existing structure

s={10,20,30,"hello",10.5}
s.add(1000)
print(s)

{10.5, 20, 1000, 'hello', 10, 30}

In [5]:
# remove element to an existing structure -pop(),remove(),clear(),discard()
s={10,20,30,"hello",10.5}
p=s.pop()
print(p)
print(s)

10.5
{20, 'hello', 10, 30}

In [6]:
#remove()
# strobj.remove(value)
s={10,20,30,"hello",10.5}
s.remove("hello")
print(s)

{10.5, 20, 10, 30}

In [7]:
s={10,20,30,"hello",10.5}
s.remove(10000)
print(s)

KeyError: 10000

In [8]:
# discard()
# strobj.discard(value)
s={10,20,30,"hello",10.5}
s.discard(10000)
print(s)

{10.5, 20, 'hello', 10, 30}

In [9]:
s={10,20,30,"hello",10.5}
s.discard(10.5)
print(s)

{20, 'hello', 10, 30}

In [10]:
# clear()
s={10,20,30,"hello",10.5}
s.clear()
print(s)

set()

In [11]:
# update()
# setobj.update(set/iterablees)
s={10,20,30,"hello",10.5}
s.update({100,200,300})
print(s)

{10.5, 20, 100, 200, 'hello', 10, 300, 30}

In [12]:
s={10,20,30,"hello",10.5}
s.update([100,200,300])
print(s)

{10.5, 20, 100, 200, 'hello', 10, 300, 30}

In [14]:
s={10,20,30,"hello",10.5}
s.update("cybrom")
print(s)

{10.5, 10, 'hello', 20, 'o', 30, 'm', 'y', 'r', 'b', 'c'}

In [16]:
s={10,20,30,"hello",10.5}
s.update((100,200,300))
print(s)

{10.5, 20, 100, 200, 'hello', 10, 300, 30}

In [17]:
# set operations
# union|
# intersection &
# difference-
# symmentric_different-^
s1={1,3,2,5,11,10,40}
s2={11,16,15,14,40}
print("union:",s1.union(s2))
print("intersection:",s1.intersection(s2))
print("difference:",s1.difference(s2))
print("symmetric_difference:",s1.symmetric_difference(s2))

union: {1, 2, 3, 5, 40, 10, 11, 14, 15, 16}
intersection: {40, 11}
difference: {1, 2, 3, 5, 10}
symmetric_difference: {1, 2, 3, 5, 10, 14, 15, 16}

In [18]:
s1={1,3,2,5,11,10,40}
s2={11,16,15,14,40}
print(s1|s2)
print(s1&s2)
print(s1^s2)
print(s1-s2)

{1, 2, 3, 5, 40, 10, 11, 14, 15, 16}
{40, 11}
{1, 2, 3, 5, 10, 14, 15, 16}
{1, 2, 3, 5, 10}

In [19]:
# frozenset()
f=frozenset({10,20,30,"hello"})
print(f)

frozenset({'hello', 10, 20, 30})

In [ ]:
# types of function
# pre-define
#user- function
# function-block of code to perform specific task 
# characteristic-resuseablity,maintainablity

In [3]:
# without argument without return type
def sum():
    a=int(input("enter any number:"))
    b=int(input("enter any number:"))
    c=a+b
    print(c)

In [4]:
sum()

enter any number: 10
enter any number: 30

40

In [8]:
# without argument with return type 
def diff():
        a=int(input("enter any number:"))
        b=int(input("enter any number:"))
        c=a-b
        return(c)

In [9]:
diff()

enter any number: 20
enter any number: 10

10

In [10]:
#with argument   without return type
def mult(a,b):
    c=a*b
    print(c)

In [11]:
x=int(input("enter any number:"))
y=int(input("enter any number:"))
mult(x,y)

enter any number: 20
enter any number: 12

240

In [12]:
def mult(a,b=2):
    c=a*b
    print(c)

In [13]:
mult(10)

20

In [14]:
# with argument with return type 
def div(a,b):
    return a/b

In [15]:
div(10,2)

5.0

In [ ]:
# wap function to checj whether year is leap or not 
# wap function to print fibbonaci series upto nth term(with argument with return type)
# wap function to check wheather a number is prime or not
# wap funtion to print prime number between 1-100

In [5]:
def fibo_series(n):
    a=0
    b=1
    fib=[a,b]
    for i in range(2,n):
        c=a+b
        fib.append(c)
        a=b
        b=c
    return fib

In [6]:
fibo_series(8)

[0, 1, 1, 2, 3, 5, 8, 13]

In [7]:
def fibo1(n):
    if n==0:
        return[0]
    elif n==1:
        return[0,1]
    else   :
        fibo=[0,1]
        for i in range(2,n):
            next_term=fibo[-1]+fibo[-2]
            fibo.append(next_term)
        return fibo

In [8]:
fibo1(3)

[0, 1, 1]

In [2]:
def prime(n):
    if n==0 or n==1:
        return n,"not a prime"
    elif n>1:
        for i in range(2,n):
            if n%i==0:
                return n,"not a prime"
                break
            else:
                return n,"prime number"
        else:
               return n,"not a prime"

In [3]:
prime(5)

(5, 'prime number')

In [4]:
def prime1(n):
    if n==0 or n==1:
        return False
    elif n>1:
        for i in range(2,n):
            if n%i==0:
                return False
                break
            else:
                return True
    else:
        return False

In [5]:
x=int(input("enter any number"))
y=int(input("enter any number"))
if prime1(x):
    print(x,"prime number")
else:
    print(x,"not prime")

enter any number 4
enter any number 2

4 not prime

In [5]:
def prime_number(start,stop):
   l=[]
   for n in range(start,stop+1):
     if n>1:
        for i in range(2,n):
            if n%i==0:
                break
            else :
                l.append(n)
   return l

In [12]:
def arm(n):
    a=len(str(n))
    old=n
    sumdigit=0
    while n!=0:
        dig=n%10
        sumdigit=sumdigit+(dig**a)
        n=n//10
        return old==sumdigit

In [14]:
x=int(input("enter any number"))
if arm(x):
    print(x,"armstrong")
else:
    print(x,"not a armstrong")

enter any number 34

34 not a armstrong

In [7]:
# w.a.p. function to return max of 3 number with argument with return type 
def max_of_two(x,y):
    if x>y:
        return x
    else:
        return y
def max_of_three(a,b,c):
    return max_of_two(a,max_of_two(b,c))

In [8]:
max_of_three(1000,20,300)

1000

In [9]:
# recursion-itself calling

def sum(n):
    if n==1:
        return n
    else:
        return n+sum(n-1)

In [10]:
sum(10)

55

In [11]:
# w.a.p. function to print factorial of n number
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)

In [12]:
factorial(5)

120

In [13]:
def fact(n):
    if n<=1:
        return n
    else:
        return n*fact(n-1)

In [14]:
fact(5)

120

In [15]:
# w.a.p. function to print fibbonacci series upto nth term? rcursion
def  fibo(n):
    if n==1:
        return 0
    elif n==2:
        return 1
    else:
        return fibo(n-1)+fibo(n-2)

In [16]:
fibo(7)

8

In [18]:
x=int(input("enter any number"))
for i in range(1,x+1):
    print(fibo(i),end=" ")

enter any number 7

0 1 1 2 3 5 8

In [29]:
# w.a.p. function to print armstrong between  1  to 2000  with argument with return type
def arm(start,stop):
      l=[]
      for n in range(start,stop+1):
           a=len(str(n))
           old=n
           sumdigit=0
           while n!=0:
                dig=n%10
                sumdigit=sumdigit+(dig**a)
                n=n//10
           if old==sumdigit:
                 l.append(sumdigit)
      return 1

In [30]:
arm(1,2000)

1

In [1]:
# lembda function a function without name it can take multipule number of arguments but have one expression
# syntx
# lambda argument:expression

a=lambda x:x**3
print(a(5))

125

In [2]:
a=lambda x,y:x**y
print(a(10,2))

100

In [3]:
# wap function to print max of three number
a=lambda x,y,z:x if x>y and x>z else y if y>x and y>z else z
print(a(100,200,20))

200

In [4]:
# map()-high order function
# syntax-map(function,iterables)
l=[1,3,4,5,10]
l1=[]
for i in l:
    l1.append(i**3)
print(l1)  
print([i**3 for i in l])
print(list(map(lambda i:i**3,l)))

[1, 27, 64, 125, 1000]
[1, 27, 64, 125, 1000]
[1, 27, 64, 125, 1000]

In [5]:
l1=[5,2,3,1,4]
l2=[1,4,3,5,2]
l=[]
for i,j in zip(l1,l2):
    l.append(i**j)
print(l)
print([i**j for i,j in zip(l1,l2)])
print(list(map(lambda i,j:i**j,l1,l2)))

[5, 16, 27, 1, 16]
[5, 16, 27, 1, 16]
[5, 16, 27, 1, 16]

In [6]:
l=[[100,60,50],[1,9,7,8],[100,200,300]]
# output-[60,8,200]
l1=[]
for i in l:
    l1.append(sorted(i)[-2])
print(l1)
print([sorted(i)[-2] for i in l])
print(list(map(lambda i :sorted(i)[-2],l)))

[60, 8, 200]
[60, 8, 200]
[60, 8, 200]

In [ ]:
l=["madam","tech","cybrom","naman","aa",